@import './variables.css';

/* General */

@font-face {
	font-family: Geist;
	src: url(../assets/fonts/GeistVF.woff);
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;

	width: 100vw;
	height: 100vh;

	font-size: small;
	font-family: Geist;
	background-color: var(--bg);
	color: var(--text);
	scrollbar-color: var(--contrast-light) var(--bg-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
}

p {
	margin: 0;
}

button {
	height: fit-content;
	padding-inline: 20px;
	padding-block: 10px;

	border: none;
	border-radius: 5px;

	font-weight: 800;
	font-family: Geist;

	background-color: var(--primary);
	color: var(--bg-dark);

	cursor: pointer;

	transition: filter .2s;
}

button:hover {
	filter: brightness(0.75);
}

button:focus-visible {
	filter: brightness(0.75);
}



/* Main */

.main {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.topbar {
	display: flex;
	align-items: center;

	width: 100%;
	padding-inline: 20px;
	padding-block: 15px;

	font-size: 1.75rem;
	font-weight: 500;

	border-bottom: 2px solid var(--primary);

	background-color: var(--bg-dark);
}

.title-container {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 10px;
}

.content {
	position: relative;

	display: flex;

	width: 100%;
	height: 100%;

	overflow: hidden;
}



/* Profile pictures */

.profile-pic {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 45px;
	min-height: 45px;
	width: 45px;
	height: 45px;

	border-radius: 100%;
	border: 2px solid var(--primary);

	overflow: hidden;

	background-color: var(--bg-dark);

	img {
		width: 100%;
		height: 100%;
	}
}

.profile-pic:after {
	content: "";

	position: absolute;
	inset: 0;

	border-radius: 100%;
	border: 1px solid var(--bg-dark);
}



/* Bot list */

.burger-container {
	width: 100%;
}

.toggle-bot-list-checkbox {
	display: none;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 16px;
	height: 16px;

	div {
		width: 20px;
		height: 2px;
		color: var(--primary);
		background-color: var(--primary);
		border: none;
	}
}

.bot-list {
	position: absolute;
	inset: 0;
	z-index: 10;

	transform: translateX(-100%);

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding: 20px 10px;

	background-color: var(--bg-light);

	h3:first-of-type {
		padding-inline: 10px;

		margin: 0;
	}
}

.bot-card {
	display: flex;
	gap: 0.5rem;

	padding: 10px;

	border-radius: 10px;

	background-color: var(--contrast-dark);

	.bot-info {
		display: flex;
		flex-direction: column;

		p {
			font-size: small;
			color: var(--text-muted-light);
		}
	}
}



/* Chat window */

.chat-window {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}



/* Responsive */

@media (min-width: 769px) {
	.topbar {
		padding-inline: 30px;
	}

	.burger-container {
		display: none;
	}

	.title-container {
		flex-direction: row;
	}

	.bot-list {
		position: relative;

		transform: translateX(0) !important;

		min-width: 250px;
		max-width: 250px;
		height: 100%;

		border-right: 1px solid var(--contrast-light);
	}
}

@media (min-width: 1023px) {
	body {
		font-size: medium;
	}
}