/* ---------- GENERAL ---------- */

@font-face {
	font-family: Geist;
	src: url(../assets/fonts/GeistVF.woff);
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	--primary: #00FFFF;
	--secondary: #3b82f6;

	--bg: #141414;
	--bg-light: #1E1E1E;
	--bg-dark: #0F0F0F;

	--contrast-light: #4B4B4B;
	--contrast-dark: #323232;

	--text: #F0F0F0;
	--text-muted-light: #C8C8C8;
	--text-muted-dark: #969696;

	margin: 0;

	width: 100vw;
	height: 100vh;

	font-family: Geist;
	background-color: var(--bg);
	color: var(--text);
	scrollbar-color: var(--contrast-light) var(--bg-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
}

button {
	height: fit-content;
	padding-inline: 20px;
	padding-block: 10px;

	border: none;
	border-radius: 5px;

	font-weight: 800;
	font-family: Geist;

	background-color: var(--primary);
	color: var(--bg-dark);

	cursor: pointer;

	transition: filter .2s;
}

button:hover {
	filter: brightness(0.75);
}

button:focus-within {
	filter: brightness(0.75);
}



/* ---------- MAIN ---------- */

.main {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.topbar {
	display: flex;
	align-items: center;
	gap: 10px;

	width: 100%;
	padding-inline: 30px;
	padding-block: 15px;

	font-size: 1.75rem;
	font-weight: 500;

	border-bottom: 2px solid var(--primary);

	background-color: var(--bg-dark);
}

.content {
	display: flex;

	width: 100%;
	height: 100%;

	overflow: hidden;
}



/* ---------- BOT LIST ---------- */

.bot-list {
	min-width: 250px;
	height: 100%;
	padding: 20px;

	border-right: 1px solid var(--contrast-light);

	background-color: var(--bg-light);
}



/* ---------- CHAT WINDOW ---------- */

.chat-window {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}
